aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
certifi
charset-normalizer
colorama
contourpy
cycler
dataclasses-json
datetime-truncate
Django
django-admin-charts
django-bower
django-memoize
django-multiselectfield
django-nvd3
faiss-cpu
filelock
fonttools
frozenlist
fsspec
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
Jinja2
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lxml
MarkupSafe
marshmallow
matplotlib
mpmath
multidict
mypy_extensions
networkx
numpy
orjson
packaging
pandas
pillow
propcache
pydantic
pydantic-settings
pydantic_core
pyparsing
pypdf
python-dateutil
python-docx
python-dotenv
python-nvd3
python-slugify
pytz
PyYAML
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
SQLAlchemy
sqlparse
sympy
tenacity
text-unidecode
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
yarl
zstandard